<%- include('partials/header')-%>
<% function encodeHTML(s) {return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;');} %>
<div class="clientsContainer">
  <% if (locals.clients) { %>
    <% locals.clients.forEach(client => { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%- client.name -%></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%- client.surname -%></h6>
          <p class="card-text">Can be contacted via:<%- client.telephone -%></p>
          <form method="POST" action="/client/<%- client.id -%>?_method=DELETE">
            <button class="btn btn-danger btn-sm" type="submit">Delete</a>
          </form>
          
        </div>
      </div> 
    <% }) %>
  <% } %>
</div>

<a href="/client/create" class="btn btn-primary">Add new Client</a>
<%- include('partials/footer')-%>
